

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    width: 100vw;
    background: radial-gradient(circle, #141E30, #444a50, #000000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    background: #2c3e50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: #ecf0f1;
}

.header h1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-task input {
    width: 70%;
    padding: 10px;
    border: 1px solid #34495e;
    border-radius: 4px;
    background: #34495e;
    color: #ecf0f1;
}

.add-task input::placeholder {
    color: #95a5a6;
}

.add-task button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: width 0.2s ease, background-color 0.3s ease;
}

.add-task button:hover {
    background-color: #2980b9;
}

/* Container for the task-list with fixed height and custom scroll bar */
.task-list-container {
    max-height: 250px; 
    overflow-y: auto; 
    margin-bottom: 12px; 
}

/* Customize the scroll bar */
.task-list-container::-webkit-scrollbar {
    width: 12px;
}

.task-list-container::-webkit-scrollbar-track {
    background: #34495e;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.task-list-container::-webkit-scrollbar-thumb {
    background: #3498db;
    border-radius: 8px;
    border: 2px solid #2c3e50;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.task-list-container::-webkit-scrollbar-thumb:hover {
    background: #2980b9;
}

.task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 2px 0; 
    border: 1px solid #34495e;
    border-radius: 5px;
    background: #3b4b5b;
    cursor: pointer;
    position: relative; 
}

.task-list li div {
    display: flex;
    align-items: center;
}

/* .task-list li span {
    margin-left: 10px;
    color: #ecf0f1;
    width: 250px; 
} */

.task-list li span {
    margin-left: 10px;
    color: #ecf0f1;
    width: 280px; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    display: inline-block; 
    transition: all 0.3s ease-in-out;
}


/* Class to show the full text on click */
.task-list li span.expanded {
    white-space: normal; 
    overflow: visible; 
    text-overflow: unset; 
    word-wrap: break-word; 
}

.task-list li input[type="checkbox"] {
    cursor: pointer;
}

/* Style for the delete button inside the task list */
.task-list li button {
    background: none;
    border: none;
    color: #e74c3c;
    cursor: pointer;
    position: absolute;
    right: 15px; 
}

.task-list li button:hover {
    color: #c0392b;
}

.delete-selected {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-selected:hover {
    background-color: #c0392b;
}

/* Responsive styling for medium devices */
@media only screen and (max-width: 768px) {
    .container {
        width: 75%;
    }

    .add-task input {
        width: 65%; 
    }

    .task-list li button {
        right: 10px; 
        font-size: 14px; 
    }

    .task-list li span {
        width: 150px;
    }

    .add-task button {
        width: auto; 
    }
}

/* Responsive styling for small devices */
@media only screen and (max-width: 500px) {
    .container {
        width: 75%;
    }

    .add-task input {
        width: 60%; 
    }

    .task-list li span {
        width: 150px;
    }

    .task-list li button {
        right: 10px; 
        font-size: 14px; 
    }
}

/* Responsive styling for extra small devices */
@media only screen and (max-width: 400px) {
    .add-task input {
        width: 55%; 
    }

    .task-list li span {
        width: 130px; 
    }

    .task-list li button {
        right: 8px; 
        font-size: 12px; 
    }
}
